################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InAndOut/bin/Debug
/InAndOut/obj/Debug
/packages
